<div id="root">
  {% liquid
    # Relative to entrypointsDir
    render 'vite-tag' with 'theme.css'
    render 'vite-tag' with 'theme.jsx'
  %}payment
</div>

<script>
  const home = 'payment-section'
</script>

{% schema %}
{
  "name": "Payment",
  "templates": [
    "page"
  ],
  "target": "section",
  "settings": [

  ]
}
{% endschema %}
